<!DOCTYPE html>
<html lang="en">
<head>
  <title>List management</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <!-- Favicon -->
  <link href="./img/favicon.ico" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
  
  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  

  <!-- Template Stylesheet -->
  <link href="../static/css/style.css" rel="stylesheet">
  <!-- ------------- -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  


</head>
<body>

<div class="container">
  <!-- Trigger the modal with a button -->
  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Large Modal</button> -->

  <!-- Modal -->


  <div class="modal fade" id="myListModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title">Add List</h4>
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          
        </div>

        <div class="modal-body">
            <form method="post" id="form_add_list">
                {% csrf_token %}
            
            <div class="row">
                <div class="col-md-4">
                    <input type="hidden" name="id" id="listid" value="" >
                    <div class="form-group first">
                        <p for="projects">Projects :</p>
                            <select id="projects" name="projects" style="width: 200px;">
                                <option value=" ">Select Project</option>
                                {% for list in projects %}
                                    <option value="{{list.id}}">{{list.title}}</option>
                                {% endfor %}
                            </select>
                      </div>
                    <div class="form-group first">
                        <p for="list">List :</p>                  
                          <input type="text" name="list" id="list" value="" style="width: 200px;">
                      </div>
                </div>
                <div style="text-align: end;">
                    <button type="button" class="btn btn-sm btn-primary" id="addlist">Add</button>
                    <button type="button" class="btn btn-sm btn-primary" id="updatelist" style="display:none;">Update</button>
                    <button type="button" class="btn btn-sm btn-primary" id="clearlist">Clear</button>
                </div>
            </div>
        </form>
        </div>

        <div class="table-responsive">
        <table id="id_list_data" class="table text-start align-middle table-bordered table-hover mb-0">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>List Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for data in list %}
                {% for list in projects %}
                    {% if data.project_title == list.title %}

                    <tr>
                        <td>{{ data.project_title }}</td>
                        <td>{{ data.list }}</td>
                        <td>
                            <input type="submit" value="Edit" class="btn btn-sm btn-primary" id="edit_listdata" data-action="edit" data-id="{{data.id}}" data-project="{{data.project_id}}" data-list="{{data.list}}" >
                            <input type="submit" value="Delete" class="btn btn-sm btn-primary" id="delete_listdata" data-action="delete" data-id="{{data.id}}">
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                {% empty %}
                    <tr>
                        <td colspan="6" style="text-align: center;">No data found.</td>
                    </tr>
                    
                {% endfor %}
            </tbody>
        </table>
    </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-primary btn-default" id="list_modal_close" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../static/lib/chart/chart.min.js"></script>
<script src="../static/lib/easing/easing.min.js"></script>
<script src="../static/lib/waypoints/waypoints.min.js"></script>
<script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../static/lib/tempusdominus/js/moment.min.js"></script>
<script src="../static/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="../static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>


</body>
</html>

<script>

    $('#list_modal_close').on('click',function(e){
        location.reload();
    })
    
    $('#addlist').on('click',function(e){
        e.preventDefault()

        var project = $('#projects').val()
        var list = $('#list').val()

        var url = "{% url 'dashboard:addlist' %}"; 
        var csrfToken = $('[name="csrfmiddlewaretoken"]').val();

        $.ajax({
            url: url,
            type: "POST",
            data: {
                "project": project,
                "list": list,
            },
            headers: {
                        "X-CSRFToken": csrfToken
                    },
            success: function (data) {
                console.log(data);
                if(data.status == 1){
                    $('#form_add_list')[0].reset()
                    toastr.success(data.message)
                    reloadListTable()
                }
                else if(data.status == -1){
                    toastr.error(data.message)
                }
                else if(data.status == -2){
                    toastr.error(data.message)
                }
                else{
                    toastr.error(data.message)
                }          
                
            },
        });


    })
    


    $('#clearlist').on('click', function() {
        $('#form_add_list')[0].reset()
        $('#addlist').css("display", "");
        $('#updatelist').css("display", "none");
    });

    $('body').on('click','#edit_listdata',function(e){
        e.preventDefault()

        $('#form_add_list')[0].reset()
        $('#addlist').css("display", "none");
        $('#updatelist').css("display", "");

        var id = $(this).data('id')
        var project = $(this).data('project')
        var list = $(this).data('list')

        $('#listid').val(id)
        $('#projects').val(project)
        $('#list').val(list)     
        
    })


    $('#updatelist').on('click',function(e){
        e.preventDefault()       

        var list = $('#list').val()
        var project = $('#projects').val()
        var id = $('#listid').val()
        
        var url = "{% url 'dashboard:updatelist' %}"; 
        var csrfToken = $('[name="csrfmiddlewaretoken"]').val();

        $.ajax({
            url: url,
            type: "POST",
            data: {
                "list": list,
                "project": project,
                "id": id
            },
            headers: {
                        "X-CSRFToken": csrfToken
                    },
            success: function (data) {
                console.log(data);
                if(data.status == 1){
                    $('#addlist').css("display", "");
                    $('#updatelist').css("display", "none");
                    $('#form_add_list')[0].reset()
                    toastr.success(data.message)
                    reloadListTable()
                }
                else if(data.status == -1){
                    toastr.error(data.message)
                }
                else{
                    toastr.error(data.message)
                }          
                
            },
        });
    })

    $('body').on('click','#delete_listdata', function() {
        var id = $(this).data('id');
        var url = "{% url 'dashboard:deletelist' %}"; 
        var csrfToken = $('[name="csrfmiddlewaretoken"]').val();

        swal.fire({
            title: "Are you sure?",
            showCancelButton: true,
            confirmButtonText: "Delete",
        }).then((result) => {
            console.log(result)
            if (result.isConfirmed){
            $.ajax({
                url: url,
                type: "POST",
                data: {
                    "id":id
                },
                headers: {
                            "X-CSRFToken": csrfToken
                        },
                success: function (data) {
                    console.log(data);
                    if(data.status == 1){
                        $('#form_add_list')[0].reset()
                        toastr.success(data.message)
                        reloadListTable()
                    }
                    else if(data.status == -1){
                        toastr.error(data.message)
                    }
                    else{
                        toastr.error(data.message)
                    }                       
                },
            });
        }
        });      
        
    });


//     function updateTable() {
//     var url = "{% url 'dashboard:updatetable' %}"; 
//     $.ajax({
//       url: url, 
//       method: 'GET',
//       success: function(data) {
//         console.log(data,'this is data')
//         // Clear the existing table rows
//         $('#id_prj_list tbody').empty();

//         // Iterate through the data and add rows to the table
//         $.each(data, function(index, item) {
//             $('#id_prj_list tbody').append('<tr><td>' + item.title + '</td><td>' + item.description + '</td><td>' + item.startdate + '</td> <td>' + item.enddate + '</td> <td>' + item.status + '</td><td> <input type="submit" value="Edit" class="btn" id="edit_data" data-action="edit" data-id="' + item.id + '" data-title="' + item.title + '" data-description="' + item.description + '" data-startdate="' + item.startdate + '" data-enddate="' + item.enddate + '" data-status="' + item.status + '" ><input type="submit" value="Delete" class="btn" id="delete_data" data-action="delete" data-id="' + item.id + '"> </td></tr>');
//         });
//       }
//     });
//   }


    function reloadListTable() {
        var url = "{% url 'dashboard:get_list_data' %}"; 
        $('#id_list_data tbody').empty()
        $.ajax({
            url: url,  
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var table = $('#id_list_data tbody');

                $.each(data, function(index, item) {
                    $.each(item, function(ind, value) {
                    var row = '<tr>';
                    row += '<td>' + value.project_title + '</td>';
                    row += '<td>' + value.list + '</td>';
                    row += '<td>';                                                       
                    row += '<input type="submit" value="Edit" class="btn btn-sm btn-primary" id="edit_listdata" data-action="edit" data-id="' + value.id + '" data-project="' + value.project_id + '" data-list="' + value.list+ '">' 
                    row += '<input type="submit" value="Delete" class="btn btn-sm btn-primary" id="delete_listdata" data-action="delete" data-id="' + value.id + '">';
                    row += '</td>';
                    row += '</tr>';
                    table.append(row);
                    })
                });
            },
            error: function (error) {
                console.error('Error: ' + error);
            }
        });
    }
    

        

</script>
