<!DOCTYPE html>
<html lang="en">
<head>
  <title>Project management</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <!-- Favicon -->
  <link href="./img/favicon.ico" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
  
  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  

  <!-- Template Stylesheet -->
  <link href="../static/css/style.css" rel="stylesheet">
  <!-- ------------- -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  




</head>
<body>

<div class="container">
  <!-- Trigger the modal with a button -->
  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Large Modal</button> -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <!-- <div class="modal fade" id="myModal" role="dialog"> -->
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Add Project</h4>
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          
        </div>

        <div class="modal-body">
            <form method="post" id="form_add_prjct">
                {% csrf_token %}
            
            <div class="row">
                <div class="col-md-4">
                    <input type="hidden" name="id" id="id" value="" style="width: 200px;">
                    <div class="form-group first">
                        <p for="title">Title :</p>                  
                          <input type="text" name="title" id="title" value="" style="width: 200px;">
                      </div>
                      <div class="form-group first">
                        <p for="description">Description :</p>
                        <textarea type="text" name="description" id="description" value="" style="height: 83px;width: 250px;"></textarea>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group first">
                        <p for="startdate">Start Date :</p>                  
                          <input type="date" name="startdate" id="startdate" value="" style="width: 200px;">
                      </div>
                      <div class="form-group first">
                        <p for="enddate">End Date :</p>
                        <input type="date" name="enddate" id="enddate" value="" style="width: 200px;">
                      </div>
                      <div class="form-group first">
                        <p for="status">Status :</p>
                            <select id="status" name="status">
                                <option value="pending" selected>Pending</option>
                                <option value="inprogress">In Progress</option>
                                <option value="completed">Completed</option>
                            </select>
                      </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group first">
                        <p for="assignedto">Assigned To :</p>                  
                          
                            <input type="checkbox" value='all' id="select-all" />Select all
                            <br><br>
                            <label for="user">
                                {% for data in user_data %}
                                <input type="checkbox" value={{data.0}} class="user_chkbox"  />
                                    {% if data.1 == dataReceived.username %} 
                                        <input type="checkbox" value={{data.0}} class="user_chkbox" checked />
                                    {% endif %} 
                                <span>{{data.1}}</span>
                                {% endfor %}
                              </label><br>

                            
                    </div>
                </div>

                <div style="text-align: end;">
                    <button type="button" class="btn btn-sm btn-primary" style="width: 100px;" id="addproject">Add</button>
                    <button type="button" class="btn btn-sm btn-primary" style="width: 100px;" id="updateproject" style="display:none;">Update</button>
                    <!-- <span type="button" class="btn" id="addproject">Add</span>
                    <span type="button" class="btn" id="updateproject">Update</span> -->
                    <button type="button" class="btn btn-sm btn-primary" style="width: 100px;" id="clearproject">Clear</button>
                </div>
                
            </div>
        </form>
        </div>


        <div class="table-responsive">
            <div class="table-container" style="height: 180px;">
            <table id="id_prj_list" class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col" style="top: 0;position: sticky;background: #f3f6f9;color:black;">Description</th>
                        <th scope="col" style="top: 0;position: sticky;background: #f3f6f9;color:black;">Title</th>
                        <th scope="col" style="top: 0;position: sticky;background: #f3f6f9;color:black;">Start Date</th>
                        <th scope="col" style="top: 0;position: sticky;background: #f3f6f9;color:black;">End Date</th>
                        <th scope="col" style="top: 0;position: sticky;background: #f3f6f9;color:black;">Staus</th>
                        <th scope="col" style="top: 0;position: sticky;background: #f3f6f9;color:black;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in list_data %}
                    <tr>
                        <td>{{ data.title }}</td>
                        <td>{{ data.description }}</td>
                        <td>{{ data.startdate|date:"d/m/Y"}}</td>
                        <td>{{ data.enddate|date:"d/m/Y"}}</td>

                        {% if data.status == 'pending' %}
                            <td style="color: red;">{{ data.status}}</td>
                        {% elif data.status ==  'inprogress' %}
                            <td style="color: orange;">{{ data.status}}</td>
                        {% else %}
                            <td style="color: green;">{{ data.status}}</td>
                        {% endif %}
                        <td>
                            <input type="submit" value="Edit" class="btn btn-sm btn-primary"  id="edit_data" data-action="edit" data-id="{{data.id}}" data-title="{{data.title}}" data-description="{{data.description}}" data-startdate="{{data.startdate|date:'Y-m-d'}}" data-enddate="{{data.enddate|date:'Y-m-d'}}" data-status="{{data.status}}" data-user="{{data.user}}">
                            <input type="submit" value="Delete" class="btn btn-sm btn-primary"  id="delete_data" data-action="delete" data-title="{{data.title}}" data-id="{{data.id}}">
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" style="text-align: center;">No data found.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>

    


        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-primary btn-default" id="prj_modal_close" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../static/lib/chart/chart.min.js"></script>
<script src="../static/lib/easing/easing.min.js"></script>
<script src="../static/lib/waypoints/waypoints.min.js"></script>
<script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../static/lib/tempusdominus/js/moment.min.js"></script>
<script src="../static/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="../static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

</body>
</html>

<script>
    $(document).ready(function() {

        $('#prj_modal_close').on('click',function(e){
            location.reload();
        })


        $('#select-all').change(function() {
            $('.user_chkbox').prop('checked', this.checked);
        });

        $('.user_chkbox').change(function() {
            if (!this.checked) {
                $('#select-all').prop('checked', false);
            }
        });

        

    
    $('#addproject').on('click',function(e){
        e.preventDefault()

        var title = $('#title').val()
        var description = $('#description').val()
        var stardate = $('#startdate').val()
        var enddate = $('#enddate').val()
        var status = $('#status').val()
        
        var checkedValues = [];
        $('.user_chkbox').each(function() {
            if ($(this).is(':checked')) {
                checkedValues.push($(this).val());
            }        
        })    
        console.log(checkedValues)
        var url = "{% url 'dashboard:addproject' %}"; 
        var csrfToken = $('[name="csrfmiddlewaretoken"]').val();

        $.ajax({
            url: url,
            type: "POST",
            data: {
                "title": title,
                "description": description,
                "stardate": stardate,
                "enddate": enddate,
                "status": status,
                "checkedValues": checkedValues,
            },
            headers: {
                        "X-CSRFToken": csrfToken
                    },
            success: function (data) {
                console.log(data);
                if(data.status == 1){
                    $('#form_add_prjct')[0].reset()
                    toastr.success(data.message)
                    reloadProjectTable()
                }
                else if(data.status == -1){
                    toastr.error(data.message)
                }
                else if(data.status == -2){
                    toastr.error(data.message)
                }
                else if(data.status == -3){
                    toastr.error(data.message)
                }
                else{
                    toastr.error(data.message)
                }
                
                
            },
        });


    })
    


    $('#user').on('change', function() {
        var selectedValue = $(this).val();
        $('#textbox').val($('#textbox').val()+ selectedValue + ',' );
    });

    $('#clearproject').on('click', function() {
        $('#form_add_prjct')[0].reset()
        $('#addproject').css("display", "");
        $('#updateproject').css("display", "none");
    });


    $('body').on('click','#edit_data',function(e){
        e.preventDefault()

        $('#form_add_prjct')[0].reset()
        $('#addproject').css("display", "none");
        $('#updateproject').css("display", "");

        var id = $(this).data('id')
        var title = $(this).data('title')
        var description = $(this).data('description')
        var startdate = $(this).data('startdate')
        var enddate = $(this).data('enddate')
        var status = $(this).data('status')

        var url = "{% url 'dashboard:getupdatedata' %}"; 
        var csrfToken = $('[name="csrfmiddlewaretoken"]').val();

        $.ajax({
            url: url,
            type: "POST",
            data: {
                "id": id,
            },
            headers: {
                        "X-CSRFToken": csrfToken
                    },
            success: function (data) {
                console.log(data);
                if(data.status == 1){

                    var selectedUserValues = data.users; 
                    
                    for (var i = 0; i < selectedUserValues.length; i++) {
                        var valueToCheck = selectedUserValues[i];                        
                        $('.user_chkbox[value="' + valueToCheck + '"]').prop('checked', true);
                    }

                    $('#title').val(title)
                    $('#description').val(description)
                    $('#startdate').val(startdate)
                    $('#enddate').val(enddate)
                    $('#status').val(status)
                    $('#id').val(id)

                } 
                else{
                    toastr.error(data.message)
                }
            },
        });
    })


    $('#updateproject').on('click',function(e){
        e.preventDefault()       

        var title = $('#title').val()
        var description = $('#description').val()
        var stardate = $('#startdate').val()
        var enddate = $('#enddate').val()
        var status = $('#status').val()
        var id = $('#id').val()
        
        var checkedValues = [];
        $('.user_chkbox').each(function() {
            if ($(this).is(':checked')) {
                checkedValues.push($(this).val());
            }        
        })    
        console.log(checkedValues)
        var url = "{% url 'dashboard:updateproject' %}"; 
        var csrfToken = $('[name="csrfmiddlewaretoken"]').val();

        $.ajax({
            url: url,
            type: "POST",
            data: {
                "title": title,
                "description": description,
                "stardate": stardate,
                "enddate": enddate,
                "status": status,
                "checkedValues": checkedValues,
                "id":id
            },
            headers: {
                        "X-CSRFToken": csrfToken
                    },
            success: function (data) {
                console.log(data);
                if(data.status == 1){
                    $('#addproject').css("display", "");
                    $('#updateproject').css("display", "none");
                    $('#form_add_prjct')[0].reset()
                    toastr.success(data.message)
                    reloadProjectTable()
                }
                else if(data.status == -1){
                    toastr.error(data.message)
                }
                else if(data.status == -2){
                    toastr.error(data.message)
                }
                else{
                    toastr.error(data.message)
                }          
                
            },
        });
    })

    $('body').on('click','#delete_data', function() {
        var id = $(this).data('id');
        var title = $(this).data('title')
        var url = "{% url 'dashboard:deleteproject' %}"; 
        var csrfToken = $('[name="csrfmiddlewaretoken"]').val();

        swal.fire({
            title: "Are you sure?",
            showCancelButton: true,
            confirmButtonText: "Delete",
        }).then((result) => {
            console.log(result)
            if (result.isConfirmed){
            $.ajax({
                url: url,
                type: "POST",
                data: {
                    "id":id,
                    "title":title
                },
                headers: {
                            "X-CSRFToken": csrfToken
                        },
                success: function (data) {
                    console.log(data);
                    if(data.status == 1){
                        $('#form_add_prjct')[0].reset()
                        toastr.success(data.message)
                        reloadProjectTable()
                    }
                    else if(data.status == -1){
                        toastr.error(data.message)
                    }
                    else{
                        toastr.error(data.message)
                    }                       
                },
            });
        }
        });      
        
    });

    function reloadProjectTable() {
        var url = "{% url 'dashboard:get_prj_data' %}"; 
        $("#id_prj_list tbody").empty();
        $.ajax({
            url: url,  
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var table = $('#id_prj_list tbody');

                $.each(data, function(index, item) {
                    $.each(item, function(ind, value) {
                    var row = '<tr>';
                    row += '<td>' + value.title + '</td>';
                    row += '<td>' + value.description + '</td>';
                    row += '<td>' + value.startdate + '</td>';
                    row += '<td>' + value.enddate + '</td>';
                    if (value.status == 'pending') {
                        row += '<td style="color: red;">' + value.status + '</td>';
                    }
                    else if(value.status == 'inprogress'){
                        row += '<td style="color: orange;">' + value.status + '</td>';
                    }
                    else{
                        row += '<td style="color: green;">' + value.status + '</td>';
                    }
                    row += '<td>';
                    row += '<input type="submit" value="Edit" class="btn btn-sm btn-primary" id="edit_data" data-action="edit" data-id="' + value.id + '" data-title="' + value.title + '" data-description="' + value.description + '" data-startdate="' + value.startdate + '" data-enddate="' + value.enddate + '" data-status="' + value.status + '" data-user="' + value.user + '">';
                    row += '<input type="submit" value="Delete" class="btn btn-sm btn-primary" id="delete_data" data-action="delete" data-title="' + value.title + '" data-id="' + value.id + '">';
                    row += '</td>';
                    row += '</tr>';
                    table.append(row);
                    })
                });
            },
            error: function (error) {
                console.error('Error: ' + error);
            }
        });
    }




    })
        

</script>

